bind 0.0.0.0
port 0
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000
appendonly yes
dir /redis-data/${PORT}

tls-cluster yes
tls-replication yes
tls-port ${PORT}
tls-ca-cert-file /redis-conf/ca.crt
tls-key-file /redis-conf/redis.key
tls-cert-file /redis-conf/redis.crt
tls-auth-clients yes
loglevel verbose
tls-session-caching yes
