port ${SENTINEL_PORT}
sentinel monitor sentinel${PORT} 127.0.0.1 ${PORT} 2
sentinel down-after-milliseconds sentinel${PORT} 5000
sentinel failover-timeout sentinel${PORT} 60000
sentinel parallel-syncs sentinel${PORT} 1
